body {
  padding-top: 54px;
}

.formGroup {
  display: flex;
}

.formGroup form {
  padding-right: 24px;
}

.listGroup li a {
  color: darkgray;
}


header {
  background-image: url("/../images/grocery1.jpg");
  background-size: cover;
  height: 30rem;
  color: #f2a602;
}

.banner {
  margin-top: 4rem;
}

.show-banner {
  
}
