<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h4><%= list.name %></h4>

      <hr>

     <h1>Items</h1>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
